body {
    width: 100%;
    background-image: url(/IMG/amiibo-images.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: rgb(113, 61, 255);
}

.navbar {
    display: flex;
    background: linear-gradient(rgb(113, 61, 255) 50%, rgb(255, 225, 90))!important;
    font-family: "Yusei Magic";
    font-size: larger;
    color: rgb(255, 225, 90) !important;
}

img {
    width: 250px;
    margin-left: 30px;
}

h1 {
    font-family: "Yusei Magic";
    text-align: center;
    margin: 50px 10px 20px;
    color: rgb(113, 61, 255)
}

h2 {
    font-family: "Yusei Magic";
    text-align: center;
    margin: 15px;
}

h3 {
    font-family: "Pompiere";
    font-weight: 500;
    margin-top: 15px;
    padding-left: 25px;
}

form {
    position: center;
}

.search-bar {
    border-radius: 60px;
    border-color: black;
    width: 47%;
    margin-left: 20%;
    margin-top: 170px;
    padding: 15px;
    font-family: "Yusei Magic";
    background: rgba(255, 255, 255, 0.7);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}


::placeholder {
    color: black;
    font-weight: 500;
}

.search-button {
    background-color: rgb(113, 61, 255);
    color: rgb(255, 225, 90);
    align-items: center;
    border-radius: 35px;
    border-color: rgb(253, 233, 115);
    width: 100px;
    padding: 10px;
    font-family: "Yusei Magic";
}

.search-button:hover {
    background-color: rgb(253, 233, 115);
    color: rgb(83, 20, 255);

}

.amiibo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 170px;
}
.amiibo-item {
    border: 8px solid black;
    border-radius: 5px;
    background: linear-gradient(rgb(255, 225, 90), rgb(113, 61, 255), rgb(255, 225, 90));
    margin: 20px;
    padding: 10px;
    width: 350px;
}

.error-message {
    font-family: "Yusei Magic";
    text-align: center;
    margin-top: 170px;
    color: rgb(255, 225, 90);
}



