body {
    background-image: url(/Images/other/Italia1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    background-color: rgb(66, 40, 23) !important;
    background-image: var(--bs-gradient);
}

.dropdown-menu {
    background-color: rgb(66, 40, 23) !important;
    background-image: var(--bs-gradient);
}

.shield {
    background-color: rgba(66, 40, 23, 0.70);
}
.carousel {
    width: 65%;
    height:20%;
    margin-left: auto;
    margin-right: auto;
}